@charset "utf-8";
/* CSS Document */

.left-menu{
border:#1B6DFD solid 1px;
background-color:#C9F1FD;
}


.news h1{
color:#000000;
background-color:#C1D3E1;
border-top:#83C4E2 solid 1px;
}







.related-link a{
text-decoration:none;
color:#000000;
}
.related-link a:hover{
text-decoration:underline;
}

.related-link h2.related{
color:#000000;
background-color:#C1D3E1;
border-top:#83C4E2 solid 1px;
}



.related-link li{
list-style:url(../images/orange-bullet.jpg);
}

.related-link h2{
color:#008EA0;
}

.about h2.heading{
background-color:#013B69;
color:#FFFFFF;
}

.about h2{
color:#000000;
}

.top1 a{
color:#FFFFFF;
}
.top2{
color:#FFFFFF;
}


.search input{
border:#999999 solid 1px;
}


.container{
/*background-image:url(../images/bg.jpg);
background-repeat:repeat-y;*/
}

.dg-desk{
border:#83C4E2 solid 1px;
background-color:#F2F6F9;
}
.dg-desk h2.sub-heading{
background-color:#C1D3E1;
color:#000000;
}

.sub-heading{
background-color:#C1D3E1;
color:#000000;
}

.dg-desk p{
color:#0D4F89;
}

.dg-desk p.content{
color:#0D4F89;
}
.dg-desk a{
text-decoration:none;
color:#000000;
}
.dg-desk a:hover{
text-decoration:underline;
color:#0000FF;
}

.visitors-count{
color:#042F7F;
}
.last-updated-on{
color:#042F7F;
}
.footer{
/*background-image:url(../images/footer-bg.jpg);
background-repeat:repeat-x;*/
background:#089DE3;
}
.footer ul li{
color:#fff;
}
.footer  ul li a{
color: #FFFFFF;
font-size: 13px;
padding: 5px 10px;
text-decoration: none;
}
.footer ul li a:hover{
text-decoration:underline;
color:#ffffff;
}
.footer p{
color:#fff;
}

.menu{
background:#089DE3;
}

/*--------------inside page start---------------*/

.left-links{
/*border:#1A86B5 solid 1px;*/
}


.left-links li{
/*list-style:url(../images/list-arrow.jpg);*/
}
.left-links a{
/*color:#666666;*/
}
.left-links a:hover {
  background: none repeat scroll 0 0 #1A86B5;
  color: #FFFFFF;
}


.bradcrum a{
color:#000000;
}
.bradcrum a:hover{
color:#000000;
}

.about-us h2{
background-color:#1A86B5;
color:#FFFFFF;
}
.ContentTable
{
	width:100%;
	border:1px solid #479fcd;
	}
.ContentTable tr th
{
	background-color:#c9f1fd;
	border:1px solid #479fcd;
	color:rgb(77, 164, 209);
	padding:10px 0px;
}
.ContentTable tr th p
{
	font-size:13px;
	color:#000066;
}
.ContentTable tr td
{
	border:1px solid #479fcd;
	padding:10px;
	}

/*--------------inside page end---------------*/

