{% extends 'base.html'%}
{%block title%}
<title>Product List</title>
{%endblock%}
{% block body %}
<div class="container" style="background-color:lightblue"><br>
     <table style="width:100%" border="1">
  <tr>
    <th>Id</th>
    <th>Product Code</th>
    <th>Product Name</th>
    <th>Value</th>
    <th>Barcode</th>
    <th>Unity Of Measurement</th>
    <th>Last Received Date</th>
    <th>Last Issued Date</th>
    <th>Quantity</th>
    <th>Godown</th>
    <th>Rack</th>
    <th>Shelf</th>
  </tr>
  {% for i in product %}
  <tr>
    <td>{{i.id}}</td>
    <td>{{i.product_code}}</td>
    <td>{{i.name}}</td>
    <td>{{i.value}}</td>
    <td>{{i.barcode}}</td>
    <td>{{i.unity_of_measurement}}</td>
    <td>{{i.last_received_date}}</td>
    <td>{{i.last_issued_date}}</td>
    <td>{{i.quantity}}</td>
    <td>{{i.godown}}</td>
    <td>{{i.rack}}</td>
    <td>{{i.shelf}}</td>
  </tr>
  {% endfor %}
</table>
    <a href="{% url 'postproduct' %}"><button type="button">Back</button> </a>
    <a href="{% url 'index' %}"><button type="button">Home</button> </a>
</div>
{% endblock %}