{% extends 'base.html'%}
{%block title%}
<title>Shelf Stickering Generator</title>
{%endblock%}
{% block body %}
<div class="container" style="background-color:lightblue"><br>
<form method="post" action="">
        {%csrf_token%}
        {{form.as_p}}
        <a href="{% url 'shelfbarcodecreate' %}"><button type="button">Create</button> </a>
        <input type="submit" value="Create Barcode" >
        <a href="{% url 'index' %}"><button type="button">Home</button> </a>

</form>

</div>
{% endblock %}